.webName {
    text-align: center;
    font-size: 48px;
}

.recipesList {

    text-align: center;
}

body {
    align-items: center;
    align-content: center;
}

img {
    align-items: center;
    align-content: center;
}